@import 'font-awesome/css/font-awesome.min.css';

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #1E0342;
}

.btn-color {
  background-color: #0E46A3;
  color: #fff;
}

.btn-color:hover {
  background-color: #1658c0;
  color: #fff;
  border: 1px solid #0E46A3;
}
